// element-plus 主题色
$primary: #409eff;

// element-plus 辅助色
$success: #67c23a !default;
$warning: #e6a23c !default;
$danger: #f56c6c !default;
$info: #909399 !default;

// 系统常用颜色
$magenta: #c41d7f;
$orange: #d46b08;
$cyan: #08979c;
$purple: #531dab;
$lime: #7bb205;
$green: #389e0d;
$orangered: #ff5500;

// menu variables
$menuBackgroundColor: #304156;
$menuTextColor: #bfcbd9;
$menuActiveTextColor: #409eff;
$sideBarWidth: 210px;

// submenu variables
$subMenuActiveTextColor: #ffffff;
$submenuBgColor: #1f2d3d;
$submenuHoverBgColor: #001528;

// menu-item variables
$menuItemHoverBgColor: #263445;


:export {
  menuBackgroundColor: $menuBackgroundColor;
  menuTextColor: $menuTextColor;
  menuActiveTextColor: $menuActiveTextColor;
  submenuBgColor: $submenuBgColor;
  submenuHoverBgColor: $submenuHoverBgColor;
  menuItemHoverBgColor: $menuItemHoverBgColor;
  sideBarWidth: $sideBarWidth;
  primary: $primary;
  success: $success;
  warning: $warning;
  danger: $danger;
  info: $info;
  magenta: $magenta;
  orange: $orange;
  cyan: $cyan;
  purple: $purple;
  lime: $lime;
  green: $green;
  orangered: $orangered;
}
